<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./Bootstrap.php">
    <testsuites name="Payment">
        <testsuite name="Controller">
            <file>./Payment/Controller/PaymentController.php</file>
        </testsuite>
        <testsuite name="Model">
            <file>./Payment/Model/CardTypeDetect.php</file>
        </testsuite>
         <testsuite name="Service">
            <file>./Payment/Service/PaymentSelector.php</file>
        </testsuite>
        <testsuite name="Paypal">
            <file>./Payment/Controller/PayPalLibrary.php</file>
            <file>./Payment/Service/PayPalLibraryAccess.php</file>
            <!--  file>./Payment/Service/PayPalPayment.php</file -->
            <file>./Payment/Service/BraintreeLibraryAccess.php</file>
            <file>./Payment/Service/BraintreePayment.php</file>
        </testsuite>
    </testsuites>
</phpunit>
